<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Navodaya tricky MCQ</ion-card-title>
      <ion-card-subtitle>Version 0.1</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Progressive web app related to distance sums for children in 4th and 5th standard.
    </ion-card-content>
  </ion-card>
  <img src="../../assets/icon/LogoFinal-removebg-preview.png" />
</ion-content>